#wrapper	{	width: 750px;
				margin: auto;
				border: 2px solid rgb(0,0,0);
				box-shadow: 3px 3px 3px rgb(102,102,102);
				padding: 20px;
				background-color: rgb(197, 234, 235);
			}
			
h1			{	font: 3em 'Sofia'; 
				text-align: center; }
			input[type="text"] {
			width: 200px;
}

body			{	font: 1.1em 'Arial';
				background: linear-gradient(white, rgb(197, 234, 235));
				background-repeat: no-repeat;
				background-attachment: fixed;
			}

section		{	clear: both;	}

footer		{	border-top: 2px solid rgb(0,0,0);
				font-size: 0.8em; 
				margin-top: 50px;
			}

fieldset		{	margin-bottom: 30px; } 

fieldset.left	{	float: left;
					width: 40%; 
					height: 130px;
				}
			
fieldset.right		{	float: right;
					width: 40%; 
					height: 130px;
				}
a				{	color: rgb(0,0,0); }
a:hover			{	text-shadow: 1px 1px rgb(102,102,102); }
a#current		{	border-bottom: 2px solid rgb(204,204,204); }
.actions		{	display: block;
					margin-bottom: 5px;
				}
ol li			{	font-size: 1.2em; }
table			{	margin-left: 30px; }				
th				{	text-align: left;
					padding-left: 1em;
				}
td				{	width: 40%; 
					font: 1em Consolas,"Courier New",monospace;
				}
code				{	font-weight: bold;
					font-size: 1.1em;
				}
nav a			{	margin-right: 15px; }
.noBullet		{	list-style-type: none; }
ul.twoCol		{	-moz-column-count: 2; -moz-column-gap: 1em; }

input[type=button] {
  border: none;
  color: white;
  padding: 5px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #555555;
  transition-duration: 0.4s;
}


input[type=button]:hover {
  background-color: white; 
  color: black;
}

input[type=button]:active {
  border: none;
  background-color: white; 
  color: black;
}